<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gamecook.cigarsmuggler">
    <application android:icon="@drawable/icon" android:label="CigarSmuggler">
        <activity android:name=".activities.StartActivity" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.InstructionsActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.ScoresActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.CreditsActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.GameActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.GameOverActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.BankActivity" android:theme="@android:style/Theme.NoTitleBar"/>
    </application>
</manifest>
