<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gamecook.cigarsmuggler">
    <application android:icon="@drawable/icon" android:label="CigarSmuggler">
        <activity android:name=".activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.InstructionsActivity" android:label="Instructions"/>
        <activity android:name=".activities.ScoresActivity" android:label="Scores"/>
        <activity android:name=".activities.CreditsActivity" android:label="Credits"/>
        <activity android:name=".activities.GameActivity" android:label="locations"/>
        <activity android:name=".activities.BankActivity" android:label="bank"/>
        <activity android:name=".activities.GameOverActivity" android:label="GameOver"/>
    </application>
</manifest>
